@font-face{
    font-family: Glyphicons Halflings;
    src: url(fonts/glyphicons-halflings-regular.woff);
    src: url(fonts/glyphicons-halflings-regular.ttf);
}
body{
    background: #ffffff url(/assets/img/sandiego-main.jpg) 0 0;
}
footer.footer {
    background: rgba(255,255,255,0.5);
}
.info-text {
    background: rgba(255,255,255,0.9);
    padding: 5px 25px 25px 25px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    color: black;
}
textarea {
    resize: none;
}
.floatnone {
    float: none !important;
}

.hero_section {
    position: relative;
    padding-top: 50px;
    background: rgba(255,255,255,0.75);
    margin-top: 75px;
    border-radius: 15px;
}
.table{
    vertical-align: middle!important;
}
.form-group.input-group {
    margin-left: 0;
    margin-right: 0;
}
#map{
    height: 600px;
}

#floating-panel {
    font-size: 11px;
    position: absolute;
    top: 10px;
    left: 140px;
    z-index: 5;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

#floating-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#floating-panel li {
    border-left: 1px solid rgba(0,0,0,0.07);
    padding: 0px;
    float: left;
}
#floating-panel li:first-child {
    border-left: none;
}
#floating-panel a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.07);
}

#floating-panel a {
    color: #333;
    cursor: pointer;
    padding: 7px;
    display: inline-block;
}

#floating-panel a.activeRoute {
    text-shadow: 0px 0px 0px black;
    background: lightsteelblue;
}